filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/nginx/access.log
      - /var/log/nginx/error.log
processors:
  - drop_fields:
      fields: ["beat", "input_type", "prospector", "input", "host", "agent", "ecs"]

output.elasticsearch:
  hosts: ["10.100.40.20:9200"]
  indices:
    - index: "nginx-{{ ansible_facts['default_ipv4']['address'] }}-"
