<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sysadmin - Final Work</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="header">
  <div class="header-container">
    <div class="header-navigation">
     <a href="#0">
      <img class="header-logo" src="https://netology-code.github.io/html-2-diploma/sources/images/noemi-logo.svg" alt="NOEMI" width="180"/>
      </a>
      <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Главная</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Посты</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Статьи</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Теги</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Темы</a>
        </li>
        <li class="menu-list-item">
          <a class="menu-link" href="#0">Контакты</a>
        </li>
      </ul>
    </nav>
    </div>
    <h1 class="welcome-title">Дипломная работа Сычугова Константина</h1>
  </div>   
</header>
<div class="content">
  <div class="content-wrapper">
    <main class="post-list">
      <article class="post">
        <img class="post-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="человек идёт один на пляже" width="380" />
        <div class="post-info">
        <ul class="tegs">
          <li class="tegs-list-item">
            <a class="teg-link" href="#0">Travel</a>
          </li>
          <li class="tegs-list-item">
            <a class="teg-link" href="#0">Health</a>
          </li>
         </ul> 
        <h2 class="post-name"><a class="post-link" href="#0">10 мест, ради которых стоит проснуться на рассвете</a>
        </h2> 
        <ul class="date-author">
          <li class="date">  
            <a class="post-date" href="#0">10 июня 2019</a>
          </li>
          <li class="author">
            <a class="author-link" href="#0">Неизвестный автор</a>
          </li>
        </ul>
        <div class="post-description">
          <p>
          Итак, вы в Питере. Раннее утро. Лед с рек и каналов уже ушел, запущены фонтаны города... Музеи ещё закрыты.
          </p> 
        </div>
      </div>
      </article>
      <article class="post">
        <img class="post-img"
           src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="девушка занимается йогой" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Health</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Lifestyle</a>
            </li>
          </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Йога для начинающих в домашних условиях</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a>
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Расскажем, какие упражнения выбрать и как сделать коврик для занятий йогой из того, что можно найти в шкафу. 
            </p> 
          </div>
        </div>
      </article>   
      <article class="post">
        <img class="post-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="концерт" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Music</a>
            </li>
           </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Лучшие музыкальные фестивали этого лета</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a>
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Лето на носу, а с ним и музыкальные фестивали. На каком же из них вы разобьете свою палатку? 
            </p> 
            <p>
            Мы составили список лучших летних фестивалей по всему миру.
            </p>  
           </div>
        </div>
      </article>
      <article class="post">
        <img class="post-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="накрытый стол" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Lifestyle</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Food</a>
            </li>
           </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Наукоёмкий подход к кулинарии</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a> 
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды. 
            </p> 
          </div>
        </div>
      </article>
      <article class="post">
        <img class="post-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="подушка с принтом" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Lifestyle</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Interior</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Art</a>
            </li>
           </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Делаем модные принты на подушках для интерьера</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a> 
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Подушки для дивана целесообразнее заказать в съемных чехлах на молнии, если потребуется чистка подушек, проще снять чехлы, чем везти подушку в химчистку. 
            </p> 
          </div>
        </div>
      </article>
      <article class="post">
        <img class="post-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="горы" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Travel</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Lifestyle</a>
            </li>
          </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Как первый раз отправиться в горы?</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a> 
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Для начала нужно определиться, в каком формате пройдёт ваше путешествие. Это зависит от многих факторов, не только от ваших желаний и интересов. 
            </p> 
          </div>
        </div>
      </article>
      <article class="post">
        <img class="post-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="накрытый стол" width="380" />
        <div class="post-info">
          <ul class="tegs">
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Lifestyle</a>
            </li>
            <li class="tegs-list-item">
              <a class="teg-link" href="#0">Food</a>
            </li>
           </ul> 
          <h2 class="post-name"><a class="post-link" href="#0">Наукоёмкий подход к кулинарии</a>
          </h2> 
          <ul class="date-author">
            <li class="date">  
              <a class="post-date" href="#0">10 июня 2019</a> 
            </li>
            <li class="author">
              <a class="author-link" href="#0">Неизвестный автор</a>
            </li>
          </ul>
          <div class="post-description">
            <p>
            Узнаем основы проектирования новых пищевых и около-пищевых опытов, вскроем физику, химию и микробиологию еды. 
            </p> 
          </div>
        </div>
      </article>    
    </main>     
    <aside class="side-bar"> 
      <section class="latest-posts">
        <h3 class="side-bar-title">Новые посты</h3> 
        <article class="news">
          <img class="news-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt="человек идёт один на пляже" width="70"/> 
          <div class="news-description">
            <a class="news-date" href="#0">14 июня 2019</a>
            <h4 class="news-title"><a class="news-link" href="#0">10 мест, ради которых стоит проснуться</a>
          </h4> 
          </div>
        </article>     
        <article class="news">
          <img class="news-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt="девушка занимается йогой" width="70"/> 
          <div class="news-description">
            <a class="news-date" href="#0">14 июня 2019</a>
            <h4 class="news-title"><a class="news-link" href="#0">Йога для домашних</a>
          </h4> 
          </div>
        </article>     
        <article class="news">
          <img class="news-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="кресло в комнате" width="70"/> 
          <div class="news-description">
            <a class="news-date" href="#0">14 июня 2019</a>
            <h4 class="news-title"><a class="news-link" href="#0">Как мы превратили классное место в балкон</a>
          </h4> 
          </div>
        </article>
        <article class="news">
          <img class="news-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt="накрытый стол" width="70" /> 
          <div class="news-description">
            <a class="news-date" href="#0">14 июня 2019</a>
            <h4 class="news-title"><a class="news-link" href="#0">Кулинарный подход к науке</a>
          </h4> 
          </div>
        </article>
        <article class="news">
          <img class="news-img"
             src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="девушки с причёсками" width="70" /> 
          <div class="news-description">
            <a class="news-date" href="#0">14 июня 2019</a>
            <h4 class="news-title"><a class="news-link" href="#0">Лучшие прически для распущенных волос</a>
            </h4> 
          </div>
        </article>  
        <form class="search-place">
        <label class="search">
          <span class="visually-hidden">Поисковый запрос</span>
          <input type="text" class="field" placeholder="Найти..." required>
        </label> 
        <button class="button-search" type="submit">
            <span class="visually-hidden">Найти</span>
        </button>
      </form>  
      </section>
      <section class="side-bar-mailing">  
        <h3 class="side-bar-title">Рассылка</h3>
        <form class="mailing-place">
          <label class="mailing">
            <span class="visually-hidden">E-mail</span>
            <input type="email" class="box" placeholder="Ваш e-mail-адрес" required>
          </label>
          <button class="button-mailing" type="submit">Подписаться</button>
        </form>
      </section>   
      <section class="side-bar-tegs">  
        <h3 class="side-bar-title">Теги</h3>
        <ul class="tegs-catalog">
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Fashion</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Music</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Lifestyle</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Art</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Interior</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Travel</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Food</a>
          </li>
          <li class="tegs-catalog-item">
            <a class="side-teg-link" href="#0">Health</a>
          </li>
         </ul>
      </section>
      <section class="side-bar-topics">  
        <h3 class="side-bar-title">Темы</h3>
        <ul class="topics-catalog">
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Красота</a> 
            <span class="number">12</span>
          </li>
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Здоровье</a>
            <span class="number">4</span>
          </li>
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Образ жизни</a>
            <span class="number">145</span>
          </li>
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Музыка</a>
            <span class="number">28</span>
          </li>
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Спорт</a>
            <span class="number">62</span>
          </li>
          <li class="topics-catalog-item">
            <a class="side-topic-link" href="#0">Йога</a>
            <span class="number">8</span>
          </li>
        </ul>
       </section>  
   </aside>   
  </div>
</div>
<footer class="footer">
  <div class="footer-wrapper">
    <address class="social-network">
      <ul class="social-network-list">
        <li class="social-network-list-items">
          <span class="visually-hidden">dribbble</span>
          <a class="social-network-icon social-network-dribbble" href="#0"></a>
        </li>
        <li class="social-network-list-items">
          <span class="visually-hidden">Pinterest</span>
          <a class="social-network-icon social-network-Pinterest" href="#0"></a>
        </li>
        <li class="social-network-list-items">
          <span class="visually-hidden">Tumblr</span>
          <a class="social-network-icon social-network-Tumblr" href="#0"></a>
        </li>
      </ul>
    </address>  
    <a href="#0" class="copyright">Copyright © 2009–2019 City Blog LLC.</a>
  </div>  
</footer>
<!-- partial -->
  
</body>
</html>
